{"http_interactions": [{"response": {"status": {"code": 200, "message": "OK"}, "url": "https://api.twitter.com/oauth2/token", "headers": {"content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "x-connection-hash": "2ff82c038eac2675ccf0ca8c15404df8", "status": "200 OK", "content-type": "application/json;charset=utf-8", "x-tsa-request-body-time": "1", "x-transaction": "00c3790a00a82500", "last-modified": "Wed, 02 Nov 2016 00:32:12 GMT", "ml": "A", "x-response-time": "16"}, "body": {"encoding": "utf-8", "string": "<AUTH_TOKEN>"}}, "request": {"uri": "https://api.twitter.com/oauth2/token", "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_REQUEST>"}, "method": "POST", "body": {"encoding": "utf-8", "string": "grant_type=client_credentials"}}, "recorded_at": "2016-11-02T00:32:12"}, {"response": {"status": {"code": 200, "message": "OK"}, "url": "https://api.twitter.com/1.1/search/tweets.json?q=%40YouTube&count=100", "headers": {"content-disposition": "attachment; filename=json.json", "x-connection-hash": "2ff82c038eac2675ccf0ca8c15404df8", "x-twitter-response-tags": "BouncerCompliant", "content-type": "application/json;charset=utf-8", "x-response-time": "321", "status": "200 OK", "x-transaction": "00a5eb62001d385a", "x-access-level": "read", "last-modified": "Wed, 02 Nov 2016 00:32:13 GMT", "x-rate-limit-limit": "450", "x-rate-limit-reset": "1478047627", "x-rate-limit-remaining": "446"}, "body": {"encoding": "utf-8", "string": "{\"statuses\":[{\"created_at\":\"Wed Nov 02 00:31:51 +0000 2016\",\"id\":793611543778766848,\"id_str\":\"793611543778766848\",\"text\":\"@hairyfrankfurt @YouTube one day imma show my mum these. Hey mum, I wear dresses and kiss dudes for money and my friend does vids on dildos\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"hairyfrankfurt\",\"name\":\"hairyfrankfurt\",\"id\":42487197,\"id_str\":\"42487197\",\"indices\":[0,15]},{\"screen_name\":\"YouTube\",\"name\":\"YouTube\",\"id\":10228272,\"id_str\":\"10228272\",\"indices\":[16,24]}],\"urls\":[]},\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":793611135379472384,\"in_reply_to_status_id_str\":\"793611135379472384\",\"in_reply_to_user_id\":42487197,\"in_reply_to_user_id_str\":\"42487197\",\"in_reply_to_screen_name\":\"hairyfrankfurt\",\"user\":{\"id\":1243258123,\"id_str\":\"1243258123\",\"name\":\"A-a-aaron \\u2708\\ufe0fblizzcon\",\"screen_name\":\"KeCAaron\",\"location\":\"Brisbane\",\"description\":\"@playerdotme and @GamerSupps partner, X-Split and Strexm User, #NFAN, I play the games on zee youtubes and zee twitches. Come watch! (all thoughts are my own)\",\"url\":\"https:\\/\\/t.co\\/QOfUVLIUOG\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"https:\\/\\/t.co\\/QOfUVLIUOG\",\"expanded_url\":\"http:\\/\\/www.keepetclassy.com\",\"display_url\":\"keepetclassy.com\",\"indices\":[0,23]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":849,\"friends_count\":697,\"listed_count\":18,\"created_at\":\"Tue Mar 05 08:51:24 +0000 2013\",\"favourites_count\":2514,\"utc_offset\":36000,\"time_zone\":\"Brisbane\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":6503,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/378800000058380829\\/622e531f7084bf41516aa83bc03e7e7f.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/378800000058380829\\/622e531f7084bf41516aa83bc03e7e7f.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/791917963095924736\\/65Y3Epwy_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/791917963095924736\\/65Y3Epwy_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/1243258123\\/1476592358\",\"profile_link_color\":\"9266CC\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"},{\"created_at\":\"Wed Nov 02 00:31:51 +0000 2016\",\"id\":793611543648858113,\"id_str\":\"793611543648858113\",\"text\":\"Me ha gustado un v\\u00eddeo de @YouTube (https:\\/\\/t.co\\/uT3DXEnSmD - Top 7 Mujeres Humilladas por Interesadas (MI VOZ)).\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"YouTube\",\"name\":\"YouTube\",\"id\":10228272,\"id_str\":\"10228272\",\"indices\":[26,34]}],\"urls\":[{\"url\":\"https:\\/\[...]
