{"http_interactions": [{"response": {"status": {"code": 200, "message": "OK"}, "url": "https://api.twitter.com/oauth2/token", "headers": {"content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "x-connection-hash": "af19d94dc96cb9a5483867e929263a16", "status": "200 OK", "content-type": "application/json;charset=utf-8", "x-tsa-request-body-time": "1", "x-transaction": "00266691003e66eb", "last-modified": "Wed, 02 Nov 2016 00:32:06 GMT", "ml": "A", "x-response-time": "11"}, "body": {"encoding": "utf-8", "string": "<AUTH_TOKEN>"}}, "request": {"uri": "https://api.twitter.com/oauth2/token", "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_REQUEST>"}, "method": "POST", "body": {"encoding": "utf-8", "string": "grant_type=client_credentials"}}, "recorded_at": "2016-11-02T00:32:06"}], "recorded_with": "betamax/0.8.0"}