{"http_interactions": [{"response": {"status": {"code": 200, "message": "OK"}, "url": "https://api.twitter.com/oauth2/token", "headers": {"content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "x-connection-hash": "7d49115ce0cf42301ad0b935868863d4", "status": "200 OK", "content-type": "application/json;charset=utf-8", "x-tsa-request-body-time": "0", "x-transaction": "00cec1ab002d8c79", "last-modified": "Wed, 02 Nov 2016 00:32:12 GMT", "ml": "A", "x-response-time": "51"}, "body": {"encoding": "utf-8", "string": "<AUTH_TOKEN>"}}, "request": {"uri": "https://api.twitter.com/oauth2/token", "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_REQUEST>"}, "method": "POST", "body": {"encoding": "utf-8", "string": "grant_type=client_credentials"}}, "recorded_at": "2016-11-02T00:32:12"}], "recorded_with": "betamax/0.8.0"}