{"http_interactions": [{"response": {"status": {"code": 200, "message": "OK"}, "url": "https://api.twitter.com/oauth2/token", "headers": {"content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "x-connection-hash": "d9dd0550ba76ae6e3b3daafbccd8486d", "status": "200 OK", "content-type": "application/json;charset=utf-8", "x-tsa-request-body-time": "1", "x-transaction": "00589e9d007d6eaa", "last-modified": "Wed, 02 Nov 2016 00:32:14 GMT", "ml": "A", "x-response-time": "16"}, "body": {"encoding": "utf-8", "string": "<AUTH_TOKEN>"}}, "request": {"uri": "https://api.twitter.com/oauth2/token", "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_REQUEST>"}, "method": "POST", "body": {"encoding": "utf-8", "string": "grant_type=client_credentials"}}, "recorded_at": "2016-11-02T00:32:14"}, {"response": {"status": {"code": 200, "message": "OK"}, "url": "https://api.twitter.com/1.1/search/tweets.json?q=thisissomeimpossiblesearchfoobar&count=100", "headers": {"content-disposition": "attachment; filename=json.json", "x-connection-hash": "d9dd0550ba76ae6e3b3daafbccd8486d", "x-twitter-response-tags": "BouncerCompliant", "content-type": "application/json;charset=utf-8", "x-response-time": "27", "status": "200 OK", "x-transaction": "009afe3c001650d3", "x-access-level": "read", "last-modified": "Wed, 02 Nov 2016 00:32:14 GMT", "x-rate-limit-limit": "450", "x-rate-limit-reset": "1478047627", "x-rate-limit-remaining": "445"}, "body": {"encoding": "utf-8", "string": "{\"statuses\":[],\"search_metadata\":{\"completed_in\":0.015,\"max_id\":793611551408214016,\"max_id_str\":\"793611551408214016\",\"query\":\"thisissomeimpossiblesearchfoobar\",\"refresh_url\":\"?since_id=793611551408214016&q=thisissomeimpossiblesearchfoobar&include_entities=1\",\"count\":100,\"since_id\":0,\"since_id_str\":\"0\"}}"}}, "request": {"uri": "https://api.twitter.com/1.1/search/tweets.json?q=thisissomeimpossiblesearchfoobar&count=100", "headers": {"Authorization": "<AUTH_REQUEST>"}, "method": "GET", "body": {"encoding": "utf-8", "string": ""}}, "recorded_at": "2016-11-02T00:32:14"}], "recorded_with": "betamax/0.8.0"}